.sidebar-toggle {
  display: flex;
  align-items: center;
  width: 72px;
  height: 48px;
  position: absolute;
  top: 24px;
  background: $activeColor;
  outline: none;
  border: none;
  color: $whiteColor;
  font-size: 16px;
  padding: 0 16px;
  cursor: pointer;
  z-index: 1;

  > img {
    width: 18px;
  }

  &:active,
  &:focus {
    opacity: 0.5;
    outline: none;
  }

  &.left {
    left: 0;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    text-align: right;
    justify-content: flex-end;
  }

  &.right {
    right: 0;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    text-align: left;
    justify-content: flex-start;
  }
}
