.tab-bar {
  padding: 0 20px;
  border-bottom: 1px solid rgb(222, 222, 222);
  align-items: center;
  justify-content: space-around;

  .tab-item {
    padding: 17px 0;
    border-bottom: 3px solid transparent;
    color: rgb(72, 72, 72);
    font-family: 'AirbnbCereal-Medium', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

    &.active {
      border-bottom-color: $primaryColor;
    }

    &:focus,
    &:active {
      opacity: 0.5;
    }
  }
}
