.tab-bar {
  padding: 0 1rem;
  border-bottom: 1px solid rgb(222, 222, 222);
  align-items: center;
  justify-content: space-around;

  &.small {
    justify-content: center;
    padding: 0 0.8rem;
  }

  .tab-item {
    padding: 0.8rem 0;
    margin: 0 1em;
    border-bottom: 3px solid transparent;
    color: rgb(72, 72, 72);
    font-family: 'AirbnbCereal-Medium', Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;

    &.active {
      border-bottom-color: $primaryColor;
    }

    &:focus,
    &:active {
      opacity: 0.5;
    }
  }
}
