.main-container {
  height: 100vh;
  overflow: hidden;
  position: relative;

  .page-content {
    flex: 1;
    padding: 120px 72px 0px;
    width: 100%;
    height: 100%;
  }

  .page-footer {
    width: 100%;
    padding: 24px 80px;

    .date-range-wrapper {
      margin-top: 24px;
      justify-content: space-between;
    }
  }
}
