.main-container {
  height: 100vh;
  overflow: hidden;
  position: relative;

  .page-footer {
    width: 100%;
    position: absolute;
    bottom: 24px;
    padding: 0 80px;

    .date-range-wrapper {
      margin-top: 24px;
      justify-content: space-between;
    }
  }
}
