@import './mixins.scss';
@import './fonts.scss';
@import './base.scss';
@import './responsive.scss';

// Components
@import './components/loading.scss';
@import './components/sidebar-toggle.scss';
@import './components/date-input.scss';
@import './components/sidebar.scss';

// Containers
@import './containers/login.scss';
@import './containers/main.scss';

.app-container {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  background: #000;
}
