html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'AirbnbCereal-Book', Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

button {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-image: initial;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.d-flex {
  display: flex !important;
}

.flex-1 {
  flex: 1 !important;
}

.flex-column {
  flex-direction: column !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-center {
  justify-content: center !important;
}

.text-align-center {
  text-align: center !important;
}

.text-align-left {
  text-align: left !important;
}

.text-align-right {
  text-align: right !important;
}

.btn {
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  outline: none !important;

  &.primary {
    font-family: 'AirbnbCereal-Book', Arial, Helvetica, sans-serif;
    background: transparent;
    border: 1px solid $greyBorderColor;
    padding: 7px 25px;
    color: $primaryColor;
    border-radius: 3px;
  }

  &.secondary {
    font-family: 'AirbnbCereal-Book', Arial, Helvetica, sans-serif;
    background: $secondaryColor;
    border: 1px solid $secondaryColor;
    padding: 7px 25px;
    color: $whiteColor;
    border-radius: 3px;
  }

  &.outline {
    font-family: 'AirbnbCereal-Medium', Arial, Helvetica, sans-serif;
    border: 1px solid $secondaryColor;
    background: transparent;
    padding: 5px 40px;
    color: $secondaryColor;
  }

  &.action {
    font-family: 'AirbnbCereal-Medium', Arial, Helvetica, sans-serif;
    background: $activeColor;
    border: 1px solid $activeColor;
    padding: 7px 20px;
    color: $whiteColor;
    border-radius: 3px;
  }

  &.disable-focus {
    &:focus {
      box-shadow: none !important;
    }
  }

  &:focus {
    box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #717171,
      0 0 0 6px rgba(255, 255, 255, 0.5) !important;
    transition: box-shadow 0.2s ease !important;
  }
}

.status-btn {
  width: 135px;
  height: 40px;
  font-family: 'AirbnbCereal-Medium', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  background: $activeColor;
  padding: 7px 20px;
  color: $whiteColor;
  border-radius: 3px;
  outline: none !important;
  border: none !important;

  &.loading {
    background: $inActiveColor;
    color: $whiteColor;
  }

  &.done {
    background: rgb(196, 196, 196);
    color: $whiteColor;
  }
}

.text-link {
  text-decoration: none;
  color: $secondaryColor;
  cursor: pointer;
}

.comment-text {
  color: $primaryColor;
  font-family: 'AirbnbCereal-Medium', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.data-range {
  display: flex;
  align-items: center;

  .value-box {
    border-radius: 1px;
    border: 1px solid $greyBorderColor;
    color: #727272;
    padding: 0 11px;
    font-family: 'AirbnbCereal-Book', Arial, Helvetica, sans-serif;
    font-size: 14px;

    .mask-text {
      margin-right: 5px;
    }

    &.number {
      display: inline-block;
      line-height: 40px;
    }
  }
}

h4.label {
  display: inline-block;
  font-family: 'AirbnbCereal-Medium', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

h3.label {
  display: inline-block;
  font-family: 'AirbnbCereal-Bold', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
