html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'AirbnbCereal-Book', Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-center {
  justify-content: center !important;
}

.text-align-center {
  text-align: center !important;
}

.text-align-left {
  text-align: left !important;
}

.text-align-right {
  text-align: right !important;
}

.btn {
  border: 1px solid $secondaryColor;
  background: transparent;
  padding: 5px 40px;
  font-family: 'AirbnbCereal-Medium', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: $secondaryColor;
  cursor: pointer;
  outline: none !important;

  &:active {
    opacity: 0.5;
  }
}

.text-link {
  text-decoration: none;
  color: $secondaryColor;
  cursor: pointer;
}

.comment-text {
  color: $primaryColor;
  font-family: 'AirbnbCereal-Medium', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
}
