html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'RedHatText', 'Arial', 'Helvetica', 'sans-serif';
}

html,
body {
  height: 100%;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-center {
  justify-content: center !important;
}

.text-align-center {
  text-align: center !important;
}

.text-align-left {
  text-align: left !important;
}

.text-align-right {
  text-align: right !important;
}
